html {
    font-family: "Comic Sans MS";
}

h1,
h2 {
    font-family: "Papyrus";
    color: purple;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: gray;
}

li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

li a {
    padding: 16px;
    color: black;
}

li a:hover {
    background-color: #AAA;
}

footer {
    background-color: #DDD;
    font-family: #555;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}